################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/taigumajiangAI/FileContentIndex/30872923-e52d-4382-be5c-6cf2baafa5cc.vsidx
